{% extends "base.html" %}

{% block title %}PSF DASHBOARD{% endblock %}

{% block content %}
<header>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style="max-width: 100px;">
    <h1>PSF DASHBOARD</h1>
</header>

<p>Analyseer lasdata (SpotName, NPTName, TimerName) en detecteer afwijkingen met PSF-statistieken.</p>

<form method="POST" enctype="multipart/form-data">
    <label>Upload Excel bestand:</label><br>
    <input type="file" name="excel_file" accept=".xlsx" required><br><br>

    <label>TimerName filter:</label><br>
    <select name="timer">
        <option value="">Alle</option>
        {% for t in timers %}
            <option value="{{ t }}">{{ t }}</option>
        {% endfor %}
    </select><br><br>

    <label>NPTName filter:</label><br>
    <select name="npt">
        <option value="">Alle</option>
        {% for n in npts %}
            <option value="{{ n }}">{{ n }}</option>
        {% endfor %}
    </select><br><br>

    <label><input type="checkbox" name="nok_only"> Alleen NOK tonen</label><br>
    <label><input type="checkbox" name="sigma_filter"> Spots klaar voor tol. band aanpassing</label><br><br>

    <label>Minimaal aantal lassen:</label><br>
    <input type="number" name="min_welds" value="0" min="0"><br><br>

    <label>Maximaal aantal lassen:</label><br>
    <input type="number" name="max_welds" value="9999" min="0"><br><br>

    <button type="submit">Update grafiek</button>
</form>

{% if chart_html %}
<div style="margin-top: 30px;">
    {{ chart_html|safe }}
</div>
{% endif %}

<a href="{{ url_for('home') }}" class="button" style="margin-top:40px; display:inline-block;">Home</a>
{% endblock %}
